---
layout: base
---

   <div class="rec_a">
     <div style="background-image:url({{ site.url }}/images/ty/1px.jpg);">
       <a href="{{ site.url }}/tyRec1/">招聘信息</a>
     </div>
     <div style="background-image:url({{ site.url }}/images/ty/1px.jpg);">
       <a href="{{ site.url }}/tyRec2/">人才理念</a>
     </div>
     <div style="background-image:url({{ site.url }}/images/ty/1px.jpg);">
       <a href="{{ site.url }}/tyRec3/">员工福利</a>
     </div>
   </div>
   <div class="rec_b">
     {{ content }}
   </div>

