{% extends "tyBase.html" %}

{% block content %}
   <div id="div1">
     <img src="{{MEDIA_URL}}image/ty/a.jpg"/>
   </div>
   <div id="div2">
     <img src="{{MEDIA_URL}}image/ty/b.jpg"/>
   </div>
   <div id="div3">
     <img src="{{MEDIA_URL}}image/ty/c.jpg"/>
   </div>
   <script>
     $(function(){
       var w=$(window).width(),
           h=$(window).height()-109;
       $('#div1,#div2,#div3').css('width',w);
       $('#div1,#div2,#div3').css('height',h);
       $('img').css('width',w);
       $('img').css('height',h);
       $('footer').css('margin-top','0px');
       $('section').css('width',w);
     })
   </script>

{% endblock %}

