{% extends "tyNewsBase.html" %}
{% block news %}
   <div class="title" style="background-image:url({{MEDIA_URL}}image/ty/1px.jpg);">公司新闻</div>
   <p class="news_title">青岛重工推出欧力克四系液压缸举升系统</p>
   <hr></hr>
   <p>6月29-30日，中国重汽青岛重工邀请了山东省内重点改装企业和全国重点区域经销商和服务站召开新产品发布会,隆重推出欧力克Ⅳ系液压举升系统。</p>
   <p>欧力克自卸车液压举升系统是中国重汽集团青岛重工有限公司与芬兰NUMMI公司强强联手合作生产的产品，蕴含着NUMMI公司八十多年液压产品生产经验的积淀，具有先进独特的设计理念和专有制造工艺，代表着国际先进液压技术的发展方向。</p>
   <p>经过青岛重工持续的改进提升，使得欧力克Ⅳ系自卸车液压举升系统更能适应中国市场。新推出的欧力克Ⅳ系自卸车液压举升系统，经过了长达三年多的试验期，经受了恶劣的使用环境和7万次载荷试验，安全性优异、可靠。</p>
{% endblock %}
