{% extends "tyBase.html" %}

{% block content %}
   <div class="news_a">
     <div style="background-image:url({{MEDIA_URL}}image/ty/1px.jpg);">
       <a href="/tyNews1/">公司新闻</a>
     </div>
     <div style="background-image:url({{MEDIA_URL}}image/ty/1px.jpg);">
       <a href="/tyNews2/">行业动态</a>
     </div>
     <div style="background-image:url({{MEDIA_URL}}image/ty/1px.jpg);">
       <a href="/tyNews3/">前景展望</a>
     </div>
   </div>
   <div class="news_b">
     {% block news %}{% endblock %}
   </div>
{% endblock %}
