{% extends "tyNewsBase.html" %}
{% block news %}
   <div class="title" style="background-image:url({{MEDIA_URL}}image/ty/1px.jpg);">公司新闻</div>
   <div>
     <a href="/tyNewsA/">青岛重工推出欧力克四系液压缸举升系统</a>
   </div>
   <div>
     <a href="/tyNews1/">公司新闻</a>
   </div>
   <div>
     <a href="/tyNews1/">公司新闻</a>
   </div>
   <div>
     <a href="/tyNews1/">公司新闻</a>
   </div>
   <div>
     <a href="/tyNews1/">公司新闻</a>
   </div>
   <div>
     <a href="/tyNews1/">公司新闻</a>
   </div>
   <div>
     <a href="/tyNews1/">公司新闻</a>
   </div>
   <div>
     <a href="/tyNews1/">公司新闻</a>
   </div>
{% endblock %}
